// Body
$body-bg: #f8fafc;
$primary: #36368d;
$secondary: #4949a0;
$warning: #ff3d00;
$danger: #de1508;
$info: #2a8dfe;
$success: #18b015;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
